<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JBChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SanDiegoCrime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FCA01731DE6942400D3D751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FCA01871DE6942400D3D751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FCA01921DE6942400D3D751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FEB89781E01FE9F00FEBA0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FEB89801E01FE9F00FEBA0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
